# Depends
import("graphics")
import("grDevices")
import("stats")
import("utils")

# Imports
importFrom("methods", "is")

# Exports
export("MLPA.interface", "MLPA.process", "designFile")
export("read.abif", "read.fsa", "align.fsa", "peaks.fsa")
export("model", "classify")
export("wav2RGB")
S3method("plot", "fsa")
S3method("print", "fsa")
