# Depends
import("graphics")
import("grDevices")
import("stats")
import("utils")

# Imports
importFrom("methods", "is")

# Exports (generic)
export("generic.interface", "generic.log", "generic.process", "designFile")
export("read.abif", "read.fsa", "align.fsa", "filter.fsa", "peaks.fsa", "genotype.ratio.fsa", "genotype.closest.fsa", "genotype.N1.fsa", "export.attr", "add.model", "multiplot")
export("train", "classify")
export("wav2RGB")
S3method("plot", "fsaModel")
S3method("plot", "fsa")
S3method("print", "fsa")

# Exports (fusions)
export("fusions.process")
export("read.sanger")
S3method("plot", "sanger")

